{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur la page d'accueil !</h1>
        <p>Connexion réussie 🎉</p>
    </div>
{% endblock %}
